
.wrapper {
    border-bottom: 1px solid #ababab;
    padding: 5px 20px;
}

.wrapper:hover {
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.time {
    margin-right: 10px;
    flex: 1 1 600px;
}

.bottomWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}


.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
