.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    grid-area: sidebar;
    background-color: #eeecec;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
}

.burgerBtn {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .sidebar {
        grid-area: unset;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background-color: #333;
        color: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 20;
    }

    .sidebar.show {
        transform: translateX(0);
    }

}
